img.socialIcon {
  height: 30px;
  width: 30px;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
  cursor: pointer;
}

img.socialIcon:hover {
  transform: scale(1.2) rotate(10deg);
  filter: drop-shadow(0 0 10px rgba(78, 86, 126, 0.8));
}